.caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-inline: 40px;
}

/* ######### */
/* ######### */
/*  BUTTONS  */
/* ######### */
/* ######### */

.filter {
    display:flex;
}

button.in, button.out {
    border: 1px solid transparent;
    height: 36px;
}

button.active {
    background-color: transparent;
    border: 1px solid #dadada;
}
